:root {
  --text: #f5faf5;
  --background: #060e06;
  --primary: #3fb83d;
  --secondary: #20761e;
  --accent: #1e9c1c;
  }
  
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }
  


  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* img {
    max-width: 100%;
  } */

  .profile-section {
    display: flex; 
    justify-content: center;
    background-color: #060e06;
    max-width: 1500px;
    margin: auto;
  }


  .profile-mini-section {
    margin-top: 20px; 
    position: relative;
    min-height: 220vh;
    overflow: hidden;
  }

  .profile-banner {
    width: 1500px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    user-select: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .20), 0px 1px 3px rgba(0, 0, 0, .90);
  }


  .profile-logo {
    display: flex;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
    margin: auto;
    translate: -0px -90px;
    user-select: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .20), 0px 1px 3px rgba(0, 0, 0, .10);
    position: relative;
  }

  
    .profile-mini-section .username {
      font-size: 46px;
      color: #f5faf5;
      translate: 0px -90px;
      text-align: center;
      width: max-content;
      padding: 5px 20px 5px 20px;
      margin: auto;
      border-radius: 10px;
      z-index: -1;
     }
    
   .account-create-date {
    text-align: center;
    translate: 0px -105px;
    color: #f5faf5;
    font-size: 17px;
    padding-bottom: 20px;
    filter:drop-shadow(0px 0px 70px #20761e);
    z-index: 0;
   }


.profile-container-section {
  width: 75px;
  display: flex;
}


.profile-links {
  display: flex;
  margin: 20px 0px;
  border-bottom: 2px solid rgba( 255, 255, 255, 0.05 );
  width: 1500px;
}


.profile-category {
  padding: 0px 0px;
  margin: -70px -10px;
}

.profile-category h6 {
  color: #f5faf5;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 10px 30px;
  cursor: pointer;
  transform: .3s;
  translate: -10px;
}


/* Container Section */



.wallpaper-container-section h1 {
color: #f5faf5;
text-transform: uppercase;
margin: 10px 60px;
text-align: left;
}


  .flex-wrap-conatiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    margin: auto;
  }


.wallpaper-container-mini-section {
  max-width: 353px;
  padding: 0px 0px;
  background: rgba( 255, 255, 255, 0.05 );
  border-radius: 10px;
  margin-top: 10px;
  transition: .3s;
  cursor: pointer;
  height: 295px;
  margin: 10px;
}


.wallpaper-container-mini-section:hover {
  scale: 1.020;
  border-radius: 20px;
  box-shadow: 0px 0px 100px rgba( 255, 255, 255, 0.05 );
}


.wallpaper-container-mini-section:hover .icons-section {
  opacity: 1;
  translate: 0px 0px;
}

.wallpaper-container-mini-section h2 {
  font-size: 17px;
  font-weight: 500;
  color: #f5faf5;
  margin: 5px 10px;
}

.wallpaper-container-mini-section img {
  border-radius: 10px 10px 0px 0px;
  width: 500px;
  height: 200px ;
  object-fit:cover;
}

.icons-section {
  display: flex;
  gap: 10px;
  color: #1e9c1c;
  margin: 0px 10px;
}
.icons-section h3 {
  background: rgba( 255, 255, 255, 0.05 );
  padding: 0px 10px;
  border-radius: 20px;
  margin-top: 10px;
}

/* Profile Post */

.post-section,
.about-profile-section {
  text-align: center;
  color: #f5faf5;
}
.post-section h2,
.about-profile-section h2 {
  font-size: 96px;
  color: #f5faf5;
  margin-top: 40px;
}

.post-section p,
.about-profile-section p {
  width: 700px;
  margin: auto;
}

